@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 16px 150px;
}

header {
    justify-content: space-between;
    padding-bottom: 120px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    gap: 50px;
    align-items: stretch;
    padding-bottom: 120px;
}

.hero div{
    width: 450px;
}

.hero-img {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.hero-content button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    font-size: 18px;
    font-weight: 800;
}

.random-information {
    padding: 30px 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 40px;
}

.random-information .cards {
    display: flex;
    gap: 50px;
    padding-bottom: 70px;
}

.cards .card-img {
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

.card p {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 270px;
}

.quote p {
    color: #1F2937;
}

.quotation {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.creator {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
    padding-right: 50px;
}

.sign-up {
    margin: 80px 150px;
    padding: 40px 90px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up--content h3 {
    font-size: 24px;
}

.sign-up--content p {
    font-size: 16px;
}

.sign-up button {
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 5px 30px;
    background-color: transparent;
    color: #E5E7EB;
    font-weight: 800;
    font-size: 18px;
}

footer {
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}